<?xml version="1.0" encoding="UTF-8" ?>
<module>
    <name>portmone</name>
    <displayName><![CDATA[Portmone]]></displayName>
    <version><![CDATA[2.0.3]]></version>
    <description><![CDATA[Pay via Portmone]]></description>
    <author><![CDATA[glib.yuriiev@portmone.me]]></author>
    <tab><![CDATA[payments_gateways]]></tab>
	<confirmUninstall><![CDATA[Are you sure you want to delete?]]></confirmUninstall>
    <is_configurable>1</is_configurable>
    <need_instance>1</need_instance>
	<limited_countries></limited_countries>
</module>